* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none !important;
    white-space: nowrap !important;
}

/* Header */
.header{
   
}

/* Header1 */
.header1 {
    width: 300px;
    height: 100vh;
    display: flex;
    position: fixed;
    background-color: transparent;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    left: -290px;
    transition: left 0.5s;
}

.header3 {
    background: rgb(230,75,13);
    background: linear-gradient(307deg, rgba(230,75,13,1) 0%, rgb(240, 105, 56) 100%);
    top: 0px;
    width: 300px;
    height: 100vh;
    z-index: 1;
    position: absolute;
    flex-grow: 1;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
}

.header1:hover {
    left: 0;
}


/* BAR */
.wrapper{
    display: none;
    margin-top: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.navbar-toggle{
    display: none;
    background-color: #0097e6;
    position: relative;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
}
/* .navbar-toggle:hover{
    background-color: seagreen;
    
} */
.navbar-toggle::before{
    content: "";
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-4px);
    transition: 0.2s ease-in-out;
}
.navbar-toggle::after{
    content: "";
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform: translateY(4px);

}
.navbar-toggle.open{
    background-color: crimson;
}

.navbar-toggle.open::before{
    transform: rotate(45deg);
}
.navbar-toggle.open::after{
    transform: rotate(-45deg);
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_bar_option a {
    gap: 20px;
    font-size: 1.15rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
}

.side_bar_option a:hover{
    background-color: #FFFFFF;
    color: #ff5922;
}

.side_bar_option a.selected {
    background-color: #FFFFFF !important;
    color: #ff5922 !important;
}

.side_bar_option{
    list-style-type:none;
    display: flex;
    margin-top: 0.5rem;
    justify-content: start;
    margin-right: 11.5rem
}

.linkP{
    display: none;
}

.toggleHeight {
    height: 300px !important;
}
@media only screen and (max-width: 600px) {
    
    .header1{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: #c8d6e5;  
    }

    .header2{
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    }

    .header3{
        width: 100px;
        justify-items: center;
        display: contents;
        justify-content: center;
    }
    
    .wrapper{
        margin: 0.75rem;
        display: block;
        transform: translateX(55px);
    }
    .title{
        
        display: none;
    }
    .link{
        margin-top: 0;
        display: block;
        margin-left: 10px;
    }
   
    .side_bar_option a{
        width: 100%;
        display:block;        
    }
}
.logout{
    color:white !important;
    
}
/* Header 2 */
.header2{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 5px solid #fff;
        background-color: #fff;
        margin-left: 300px;
        overflow: auto !important;
        position: relative;
        
        transition: width 1s;
}
.login{ 
        padding: 1rem;
        display:flex;
        justify-content:space-between;
        justify-items: center;
}
.login p{
    font-size: 25px;
    font-weight: 700;
}
.adminLogin{
    margin-top: 10px;
}
.adminLogin a{
   
    color: #c8d6e5;
    font-weight: 500;
    text-decoration: none;
    margin:  20px;
    background: #fff;
}

/* Header4 */
.header4{
    width: auto;
    height: auto;
    margin-left: calc(1.2rem + 10px);
    margin-right: 1.2rem;
}


/* banner */
.banner button{
    border-radius: 5px;
    border: 3px solid #0097e6;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
    height: 45px;
    margin: 2.5rem;
}

/* select */
.select{
    margin:2.5rem ;
    display: flex;
    justify-content: space-between;
}
.select1{
    gap: 10px;
    display: flex;
    justify-content: center ;
}
.select1 p{
    margin-top: 0.5rem;
}
.select1 input{
    width: 223px;
    height: 35px;
}

/* Service */

.service table {
    width: 100%;
    margin-bottom: 0!important;
}

.select2 td{
    display: block;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}




/* TAI PART */

.top_title {
    padding: 1.5rem 1rem;
}

.right_title {
    margin: 0px !important;
    font-size: 1.5rem;
    color: #ff4f14;
    font-weight: 400;
}

.service {
    margin: 0px 1rem;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-collapse: collapse;
}

.service td, .service th, .service tr {
    border: 1px solid rgba(0, 0, 0, 0.5);
    vertical-align: middle !important;
}

.service td, .service th, .service tr {
    padding: 12px;
    align-items: center;
    text-align: center;
}

.button_td {
    padding: 12px!important;
}

.deac_button, input[value="Deactivate"], input[value="Cancel"], .button_td > button {
    background-color: transparent !important;
    color: rgb(89, 89, 89);
    border: none;
    width: 100%;
    display: block;
    height: 5.2vh;
    min-height: 30px;
    border: none !important;
}

.deac_button:hover, input[value="Deactivate"]:hover, input[value="Cancel"], .button_td > button:hover {
    color: rgb(230, 51, 51);
}

input[value="Activate"] {
    background-color: white;
    color: green;
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    height: 5.2vh;
    min-height: 30px;
}

input[value="Activate"]:hover {
  
}

input[value="Deactivate"]:hover, .button_td > button:hover {

}

#big_title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    padding: 1rem;
}

#big_title h4 {
    color: rgba(255, 255, 255, 0.85);
    margin: 0 !important;
    font-weight: 400;
}

.side_bar_option > .nav-link {
    color: white;
}

.btn-primary {
    background-color: #497fba;
}

.avatar_td > img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.75);
}

td p, td a {
    white-space: nowrap;
    text-align: middle;
    vertical-align: center;
    display: inline-block;
    margin-bottom: 0 !important;
    max-width: 15vw;
    min-width: 4vw;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
}

td p:hover, td a:hover {
    overflow: visible;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

td {
    height: 3vh;
    position: relative;
}

#side_bar_menu {
    padding: 1.5rem 1rem!important;
}

#side_bar_menu li {
    width: 100%;
}

li .nav-link {
   width: 100%; 
}

#btn_logout, #btn_logout:hover {
    text-decoration: none !important;
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.rec_green {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: limegreen;
}

.rec_red {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(198, 198, 198);
}