
@import url(mybutton.css);

.status_dot {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.35rem;
    display: inline-block;
    background-color: #40D460;
    margin-right: 0.65rem;
}

.green_dot {
    background-color: #40D460;
}

.yellow_dot {
    background-color: #e69d00;
}

.my_modal_title {
    font-size: 1.1rem !important;
}


 .btn_open_register {
    background-color: #b2e1a6;
    color: #1C1919;
 }

 .btn_open_register:hover {
    background-color: #34a714;
    color: #FFFFFF;
 }

 .btn_close_register {
    background-color: #EBEBEB;
    color: #212121;
 }

 .btn_close_register:hover {
    background-color: #EB8322;
    color: #FFFFFF;
 }

 .btn_cancel_event {
    background-color: white;
    border: 1px solid #D42E2E ;
    color: #de0c0c;
 }

 .btn_cancel_event:hover {
    background-color: #D42E2E;
    color: #FFFFFF;
}