* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* POSTER PART  */

#poster_section {
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}


#poster_image img {
    max-height: 430px;
    width: 100%;
    object-fit: cover;
}



/* CALENDAR */

#calendar_section {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0x 2px 2px rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    min-width: 130px;
}

#calendar_section #orange_decoration {
    border-radius: 15px;
    background-color: #f15827;
    height: 30px;
    width: 100%;
}

#calendar_part {
    position: absolute;
    left: 30px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#date_part > * {
    text-align: center;
}

#date_part > #date_render {
    color: black;
    margin-top: 1rem !important;
    font-weight: 600;
}

#date_part > #day_render {
    color: #f2450b;
    margin-top: 0.3rem !important;
    font-weight: 500;
}

/* CARE PART */

#care_infor_part {
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    padding: 0.8rem 1.3rem;
}

#care_infor_part > * {
    display: inline-block;
}

#care_infor_part .care_infor_text {
    color: white;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#care_infor_part > #dot {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    background-color: white;
    margin-left: 0.66rem;
    margin-right: 0.66rem;
}

/* title Left */
.titleLeft{
    display: flex;
    justify-content: center;
}

.titleLeft img{
    margin: 1rem;
    width: 52px;
    height: 59.35px;
}
.titleLeft h4{
    margin: 1.5rem;
}
/* Title Right */
.titleRight{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.titleRight img{ 
    margin: 10px;
    height: 50px;
}
.titleRight1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleRight1 p {
    margin: 0;
}

/* Responsive */
@media only screen and (max-width: 600px) {

    .titleRight1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .titleLeft h4{
        display: none;
    }
    .buttonWord {
        display: none;
    }
}

/* Title Right 2 */
.titleRight2 {
    display: flex;
    margin: 1rem 0;
}

.titleRight2Bell{
    height: 40px;
    width: 50px;
    color: #FFF;
    border: none;
    background-color:  #f15827;

}

.titleRight2Bell i {
    color: yellow;
}
.titleRight2Bell i:hover{
    color: yellow;
}

/* bell rung */
.titleRight2Bell i:hover{

    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

/* title Rightt2 Bar */

.titleRight2Bar {  
    color: #FFF;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 10px;
    background-color: #f15827;
}

.titleRight2Bar:hover{
    color: #1472E1;
}


/*  Carousel */
.carousel{
    display: flex;
    justify-content:space-between;
    padding: 2rem;
    padding-bottom: 0.2rem;
}
.carouselWrite h3{
    color: red;
}

/* Carousel Button */
.carouselButton{
    display: flex;
    justify-content:center;
}

.carouselButton1{
    padding: 0 0.5rem;
    justify-content:center;
    align-items: center;
}

.carouselButton1 img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.carouselButton1 p{
    font-weight: 500;
    margin: 0
}

.carouselButton1 button{
    border: none;
    margin-left: 0 1rem;
    font-weight: 400;
    width: 150px;
    height: 50px;
    border-radius: 6px;
}
.carouselButton1 .hight{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* Hight2 */
/* click đổi màu */

/* Fast Word */
.fastWord{
    padding: 0 2rem;

}
.fastWord marquee{
    font-size: 2.5rem;
    font-weight: 650;
    word-break:keep-all;
}
.fastWord p{
    font-size: 25px;
    font-weight: 500;
    color: #4b4b4b;
}


/* NAV */

#content {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navWord {

}

.navWord p{
    font-size: 1.4rem;
    color: black;
    margin-top: 0.9rem;
}


/* Container */

.hoverDiv{
    margin: 1rem 0;
}

.row{
    padding: 1rem;
}


/* Next */
.next{
    padding: 1rem 7rem;
}

.organizer_container {
    display: flex;
    margin-top: 1.3rem;
}

.organizer_container img{
    height: 50px;
    width: 50px;
}

.organizer_infor {
    margin: 0 1rem;
}

.next1 h4{
    font-weight: 700;
}

.organizer_infor h5{
    font-weight: 700;
    margin-bottom: 3px !important;
}
/* Comment */
/* 
#comment {
    padding-top: 1.9rem;
} */



/* ASK */
.ask{
    padding-top: 2rem;
}

.ask textarea{
    padding: 15px;
    height: 150px;
    resize: vertical;
    border-radius: 15px;
    border: 1px solid #c4c4c4;  
}
/* Ask Buuton */
/* 
.sendButton:hover{
    color: #fff;
    background-color: #1472E1;
} */

/* REP */
.rep{
    padding: 2rem 5rem;
}
.repComment {
    display: flex;
}
.rep1 img{
    margin-top: 12px;
    width: 50px;
    height: 50px;
}
.rep2{
    font-weight: 700;
}
.rep2 p{
    word-wrap: break-word;
}
.repComment .rep2{
    margin: 1rem;
}
/* Rep Comment2 */
.repComment2{
    margin: 0px 65px;
    display: flex;
    margin-bottom: 16px;
}

.repComment2a img{
    width: 50px;
    height: 50px;
}

.repComment2b {
    font-weight: 700;
    margin-left: 12px;
}

.repComment2b p{
    word-wrap: break-word;
}

/* END */
.end{
    color: #fff;
    background-color: #f15827;
    text-align: center;
    border: 10px solid #f15827;
    height: 170px;
    margin: 5rem 0 0 0;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

@media only screen and (max-width: 576px) {
    .poster_image img {
        height: 250px;
        object-fit: cover;
    }
   
    .carousel{
        flex-direction: column;
    }
    .fastWord marquee{
        font-size: 26px;
        font-weight: 500;
    }
    .carouselWrite h3 {
        font-size: 1.4rem;
        font-weight: 500;
    }


    .next {
        padding: 1rem;
    }
    .next1 h4 {
        padding: 0 3rem;
        /* font-weight: 700; */
    }

    /* BODY CONTENT */


    .navWord h3{
    
    }

    .rep {
        padding: 1rem;
    }

    .repComment2 {
        margin: 0 30px;
    }

    .red {
        /* background: black; */
    }

    .blue {
        background: #1472E1;
    }

    .single h3{
        padding: 0;
        margin-top: 1rem;
    }

}

/* --------------mới thêm--------------- */

.hight {
    color: #FFF;
    background: #1472E1;
    width: 100px;
    height: 50px;
    border: 1px #000 solid;
}

/* .hight:hover{
    border: 3px solid #c4c4c4;
    font-weight: 900;
    background-color: black;
    color: #1e81b0
        ;
} */
.red {
    /* background: black; */
    color: #18dee9;
}
.blue {
    background: #1472E1;
}


/* TÀI STUFF */

#grey_line {
    background-color: rgb(205, 205, 205);
    height: 1px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* GENERAL */

.content_title {
    margin-top: 1.9rem;
    font-weight: 700;
}

/* TAB VIEW  */

.nav-item .nav-link {
    border: none !important;
}

.nav-tabs {
    border: none !important;
}

.nav-tabs .nav-link.active {
    color: #0240fb !important;
    font-weight: 500;
}

.nav-tabs .nav-link {
    color: #98979D;
}

.nav-item a {
    font-size: 1.2rem;
}

#tab_container {

}

#home_tab_button > a {
    padding-left: 0px !important;
}

#myTabContent {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}


/* LECTURER */

#lecturer_container {
    padding: 0px;
    margin: 0px;
}

#lecturer_row {
    padding: 0px;
}

#lecturer_section {
    margin-top: 1.5rem;
}

.lecturer_card {
    padding: 1rem 2rem 2.5rem 2rem;
    border-radius: 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    text-align: center;
    background-color: #FDFDFD;
}

.lecturer_card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.lec_ava_container {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.lecturer_card h4 {

}

.lecturer_card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lecturer_card p:hover{
    overflow:visible;
}


/* COMMENT */

#input_comment, #input_question {
    padding: 1rem;    
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-size: 1.2rem;
}

#comment_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1.9rem;
}

#btn_enter_comment, #btn_enter_question {
    display: inline-block;
    padding: 10px 14px;
    background-color: #1472E1;
    border: none;
    color: white;
    margin-top: 8px;
    border-radius: 6px;
}

#btn_enter_question {
    padding: 10px 25px;
}

.lec_avatar {
    width: 45px;
    height: 45px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    border: calc(1.5px) black solid;
}

/* Comment container */

.comment_item {
    width: 100%;
    margin-top: 2.2rem;
}

.comment_infor_section {
    display: flex;
    margin-bottom: 0.2rem;
    width: 100%;
    flex-direction: row;
}

.comment_infor {
    width: 100%;
    margin-left: 12px;
}

.comment_username {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0px !important;
}

.comment_content {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 3px !important;
}

.comment_infor .btn_show_reply {
    margin-bottom: 2px;
    font-weight: 500;
    color: #1472E1;
    font-size: 1rem;
}

/* REPLY COMMENT */

.input_reply {
    padding: 9px;
    font-size: 1rem;
    border: 1px #B9B9B9 solid;
    border-radius: 6px;
    width: 60%;
    min-width: 150px;
    margin-botom: 1rem;
}

.btn_reply, .btn_hide_reply {
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 6px;
    min-width: 100px;
    max-width: 120px;
    text-align: center;
}

.btn_reply {
    background-color: #1472E1;
}

.btn_hide_reply {
    background-color: #686868;
}

.reply_box {
    display: none;
    margin-left: 62px;
    margin-bottom: 1rem;
}