a, a:hover, a:focus, a:active {
    text-decoration: none !important; 
    color: inherit !important;
}

#menu_container {
    position: relative;
    height: 0px;
    z-index: 10;
}

#menu_panel {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.35);
    background-color: #0073ff;
    border-radius: 1rem;
    padding: 2.5rem 2rem;
    width: fit-content;
    position: absolute;
    right: 60px;
    top: 50px;
}

.menu_button {
    margin: 0.4rem 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 1rem 1.7rem!important;
    color: white;
}

.menu_button:hover {
    margin: 0.4rem 0;
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #0066FF;
}

.menu_sub_button {
    margin: 0.4rem 0;
    background-color: rgb(255, 224, 184);
    color: rgba(0, 0, 0, 0.85);
    border-radius: 3px;
    padding: 0.1rem 2rem !important;
    display: none;
}

.menu_button button {
    background-color: transparent !important; 
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    color: inherit !important;
}

/* TEXT */

.menu_button p {
    color: inherit;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 !important;
}

.menu_sub_button p {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
