<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>ROAD_MAP_TXT_FILE_NAME</param-name>
        <param-value>roadmap.txt</param-value>
    </context-param>
    <context-param>
        <param-name>TOKEN_SPLIT</param-name>
        <param-value>=</param-value>
    </context-param>
    <context-param>
        <param-name>LOGIN_PAGE</param-name>
        <param-value>LoginPage</param-value>
    </context-param>
    <context-param>
        <param-name>INVALID_PAGE</param-name>
        <param-value>InvalidPage</param-value>
    </context-param>
    <context-param>
        <param-name>AUTH_FILE_NAME</param-name>
        <param-value>auth.txt</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_CLIENT_ID</param-name>
        <param-value>253183940371-k316famgkbmmteshdv4ktc2021p1como.apps.googleusercontent.com</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_CLIENT_SECRET</param-name>
        <param-value>HpuBtTZxPOfR633Oq4T09Dp6</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_REDIRECT_URI</param-name>
        <param-value>http://localhost:8084/EventManagement/LoginPage</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_LINK_GET_TOKEN</param-name>
        <param-value>https://accounts.google.com/o/oauth2/token</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_LINK_GET_USER_INFO</param-name>
        <param-value>https://www.googleapis.com/oauth2/v1/userinfo?access_token=</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_GRANT_TYPE</param-name>
        <param-value>authorization_code</param-value>
    </context-param>
    <filter>
        <filter-name>FilterAuth</filter-name>
        <filter-class>fptu.swp.filter.FilterAuth</filter-class>
    </filter>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>fptu.swp.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAuth</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>fptu.swp.listener.LoadFileServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fptu.swp.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>fptu.swp.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DBSlink</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
