<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>ROAD_MAP_TXT_FILE_NAME</param-name>
        <param-value>roadmap.txt</param-value>
    </context-param>
    <context-param>
        <param-name>TOKEN_SPLIT</param-name>
        <param-value>=</param-value>
    </context-param>
    <context-param>
        <param-name>LOGIN_PAGE_LABEL</param-name>
        <param-value>LoginPage</param-value>
    </context-param>
    <context-param>
        <param-name>INVALID_PAGE_LABEL</param-name>
        <param-value>InvalidPage</param-value>
    </context-param>
    <context-param>
        <param-name>AUTH_FILE_NAME</param-name>
        <param-value>auth.txt</param-value>
    </context-param>
    <context-param>
        <param-name>LOG4J_CONFIG_LOCATION</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>LOGOUT_LABEL</param-name>
        <param-value>logout</param-value>
    </context-param>
    <context-param>
        <param-name>UPDATE_PAGE_LABEL</param-name>
        <param-value>UpdateProfilePage</param-value>
    </context-param>
    <context-param>
        <param-name>INFO_PAGE_LABEL</param-name>
        <param-value>ViewInfoPage</param-value>
    </context-param>
    <context-param>
        <param-name>NEWFEED_PAGE_LABEL</param-name>
        <param-value>NewfeedPage</param-value>
    </context-param>
    <context-param>
        <param-name>EVENTDETAIL_PAGE_LABEL</param-name>
        <param-value>EventDetailPage</param-value>
    </context-param>
    <context-param>
        <param-name>LOC_AND_TIME_PAGE_LABEL</param-name>
        <param-value>locAndTimePage</param-value>
    </context-param>
    <context-param>
        <param-name>SEARCH_LOCATION_SERVLET</param-name>
        <param-value>searchLocation</param-value>
    </context-param>
    <context-param>
        <param-name>VIEW_FREE_LOC_AND_TIME_SERVLET</param-name>
        <param-value>viewSlotAndTimeFree</param-value>
    </context-param>
    <context-param>
        <param-name>MODIFY_LOCATION_SERVLET</param-name>
        <param-value>modifyLocation</param-value>
    </context-param>
    <context-param>
        <param-name>APPEND_EVENT_DETAIL_PAGE</param-name>
        <param-value>appendEventDetailPage</param-value>
    </context-param>
    <context-param>
        <param-name>REVIEW_EVENT_PAGE_LABEL</param-name>
        <param-value>reviewEventPage</param-value>
    </context-param>
    <context-param>
        <param-name>VIEW_NEWFEED_SERVLET</param-name>
        <param-value>viewNewfeed</param-value>
    </context-param>
    <context-param>
        <param-name>VIEW_EVENTDETAIL_SERVLET</param-name>
        <param-value>viewEventDetail</param-value>
    </context-param>
    <context-param>
        <param-name>ADMIN_PAGE</param-name>
        <param-value>AdminPage</param-value>
    </context-param>
    <context-param>
        <param-name>MANAGE_BY_ADMIN_SERVLET</param-name>
        <param-value>manageByAdmin</param-value>
    </context-param>
    <context-param>
        <param-name>STUDENT_VIEW_EVENT_LIST_SERVLET</param-name>
        <param-value>viewEventListByStudent</param-value>
    </context-param>
    <context-param>
        <param-name>ORGANIZER_VIEW_EVENT_LIST_SERVLET</param-name>
        <param-value>viewEventListByOrganizer</param-value>
    </context-param>
    <context-param>
        <param-name>LECTURER_VIEW_EVENT_LIST_SERVLET</param-name>
        <param-value>viewEventListByLecturer</param-value>
    </context-param>
    <context-param>
        <param-name>ALL_EVENT_PAGE_LABEL</param-name>
        <param-value>AllEventPage</param-value>
    </context-param>
    <context-param>
        <param-name>FILTER_EVENT_SERVLET</param-name>
        <param-value>filterEvent</param-value>
    </context-param>
    <context-param>
        <param-name>CHANGE_DETAIL_BY_CREATING_NEW_EVENT_SERVLET</param-name>
        <param-value>changeDetailByCreatingNewEvent</param-value>
    </context-param>
    <context-param>
        <param-name>UPDATE_EVENT_PAGE_LABEL</param-name>
        <param-value>UpdateEventPage</param-value>
    </context-param>
    <context-param>
        <param-name>UPDATE_FOLLOWUP_PAGE_LABEL</param-name>
        <param-value>UpdateFollowUpPage</param-value>
    </context-param>
    <context-param>
        <param-name>RELEVANT_EVENT_PAGE_LABEL</param-name>
        <param-value>RelevantEventPage</param-value>
    </context-param>
    <filter>
        <filter-name>FilterAuth</filter-name>
        <filter-class>fptu.swp.filter.FilterAuth</filter-class>
    </filter>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>fptu.swp.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAuth</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>fptu.swp.listener.LoadFileServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fptu.swp.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>fptu.swp.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>fptu.swp.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventDetailServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ViewEventDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.CreateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.FollowEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.JoinEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleMultipartServlet</servlet-name>
        <servlet-class>fptu.swp.controller.HandleMultipartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>fptu.swp.controller.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskQuestionServlet</servlet-name>
        <servlet-class>fptu.swp.controller.AskQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageByAdminServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ManageByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.FilterEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserByAdminServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ManageUserByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.CancelEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.UpdateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventListByOrganizerServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ViewEventListByOrganizerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventListByLecturerServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ViewEventListByLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePosterServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ChangePosterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDetailByCreatingNewEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.ChangeDetailByCreatingNewEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFollowUpServlet</servlet-name>
        <servlet-class>fptu.swp.controller.UpdateFollowUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizerRedirectServlet</servlet-name>
        <servlet-class>fptu.swp.controller.OrganizerRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelUpdateEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.CancelUpdateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectListEventServlet</servlet-name>
        <servlet-class>fptu.swp.controller.RedirectListEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizeSendingEmailServlet</servlet-name>
        <servlet-class>fptu.swp.controller.AuthorizeSendingEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPageRedirectServlet</servlet-name>
        <servlet-class>fptu.swp.controller.LoginPageRedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventDetailServlet</servlet-name>
        <url-pattern>/ViewEventDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/CreateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowEventServlet</servlet-name>
        <url-pattern>/FollowEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinEventServlet</servlet-name>
        <url-pattern>/JoinEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleMultipartServlet</servlet-name>
        <url-pattern>/HandleMultipartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskQuestionServlet</servlet-name>
        <url-pattern>/AskQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageByAdminServlet</servlet-name>
        <url-pattern>/ManageByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterEventServlet</servlet-name>
        <url-pattern>/FilterEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserByAdminServlet</servlet-name>
        <url-pattern>/ManageUserByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelEventServlet</servlet-name>
        <url-pattern>/CancelEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventServlet</servlet-name>
        <url-pattern>/UpdateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventListByOrganizerServlet</servlet-name>
        <url-pattern>/ViewEventListByOrganizerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventListByLecturerServlet</servlet-name>
        <url-pattern>/ViewEventListByLecturerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePosterServlet</servlet-name>
        <url-pattern>/ChangePosterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDetailByCreatingNewEventServlet</servlet-name>
        <url-pattern>/ChangeDetailByCreatingNewEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFollowUpServlet</servlet-name>
        <url-pattern>/UpdateFollowUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizerRedirectServlet</servlet-name>
        <url-pattern>/OrganizerRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelUpdateEventServlet</servlet-name>
        <url-pattern>/CancelUpdateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectListEventServlet</servlet-name>
        <url-pattern>/RedirectListEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizeSendingEmailServlet</servlet-name>
        <url-pattern>/AuthorizeSendingEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageRedirectServlet</servlet-name>
        <url-pattern>/LoginPageRedirectServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>
            appendEventDetail.jsp
        </welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <res-ref-name>DBSlink</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
